<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstApp"
        tools:targetApi="31">
        <activity
            android:name=".lesson40.Lesson40"
            android:exported="false"
            android:label="@string/title_activity_lesson40"
            android:theme="@style/Theme.FirstApp" />
        <activity
            android:name=".lesson34.Lesson34"
            android:exported="false" />
        <activity
            android:name=".lesson33.Lesson33"
            android:exported="false" />
        <activity
            android:name=".lesson29.presentation.Lesson29"
            android:exported="false" />
        <activity
            android:name=".lesson28.presentation.Lesson28"
            android:exported="false" />
        <activity
            android:name=".lesson26.presentation.Lesson26"
            android:exported="false" />
        <activity
            android:name=".lesson25.presentation.Lesson25"
            android:exported="false" />
        <activity
            android:name=".lesson24.presentation.Lesson24"
            android:exported="false" />
        <activity
            android:name=".lesson23.homework23.presentation.Homework23"
            android:exported="false" />
        <activity
            android:name=".lesson23.presentation.Lesson23"
            android:exported="false" />
        <activity
            android:name=".lesson22.Homework22"
            android:exported="false" />
        <activity
            android:name=".lesson22.Lesson22"
            android:exported="false" />
        <activity
            android:name=".lesson21.Lesson21"
            android:exported="false" />
        <activity
            android:name=".lesson20.Lesson20"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".lesson19.Lesson19"
            android:exported="false" />
        <activity
            android:name=".lesson18.Lesson18"
            android:exported="false" />

        <receiver
            android:name=".WifiReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".lesson18.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>